# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png
generated_plugin_registrant.dart

# Symbolic links created by pub
**/.symlinks/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies

# Android
android/.gradle/
android/.idea/
android/local.properties
android/.settings/
*.iml
*.hprof

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Web
web/manifest.json

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Other
*.log
*.lock
*.tmp
*.swp
*.DS_Store

# Firebase
firebase_app_id_file.json
